<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Form</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input[type="email"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        button {
            padding: 10px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #218838;
        }
    </style>
</head>

<body>
    <div class="form-container">
        <h2>Password Change Form</h2>
        <form action="/changePassword/<%- email %>?otp=<%- otp %>" method="POST">
            <label for="email" hidden>Email:</label>
            <input type="hidden" id="email" name="email" required readonly value="<%- email %> ">

            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="password" required>

            <label for="confirm-password">Confirm New Password:</label>
            <input type="password" id="confirm-password" name="confirmPassword" required>

            <button type="submit">Change Password</button>
        </form>
    </div>
</body>

<script>
    addEventListener('DOMContentLoaded', () => {
        const newPassword = document.getElementById('new-password');
        const confirmPassword = document.getElementById('confirm-password');

        confirmPassword.addEventListener('input', (e) => {
            e.preventDefault();
            if (newPassword.value !== confirmPassword.value) {
                confirmPassword.setCustomValidity('Passwords do not match');
                confirmPassword.focus();

            } else {
                if (confirmPassword.value.length < 8) {
                    confirmPassword.setCustomValidity('Password must be at least 8 characters long');
                } else {
                    confirmPassword.setCustomValidity('');
                }
            }
        });
    });

</script>

</html>