<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/createblog">ADD BLOG</a></li>


        <li><a href="/loginpage">Login In</a></li>
        <li><a href="/signuppage">Sign Up</a></li>
        <li><a href="/myBlog">My Blogs</a></li>

    </ul>
</nav>