<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page with Navbar and Footer</title>
    <link rel="stylesheet" href="CreateBlog.css">
</head>

<body>
    <%- include('./components/navbar') %>


        <div class="container">
            <h1>Enter the Blog details</h1>
            <form action="/addpost" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>

                <div class="form-group">
                    <label for="subtitle">Subtitle:</label>
                    <input type="text" id="subtitle" name="subtitle" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" id="image" name="image" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

        <footer>
            <p>&copy; 2024 Your Website. All Rights Reserved.</p>
        </footer>
</body>

</html>