/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* Rounded corners for the main section */
}

.blog-container {
    padding: 20px;
}

.blog-container h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.blog-container h2 {
    font-size: 24px;
    color: #777;
    margin-bottom: 20px;
}

.blog-meta {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}

.blog-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.blog-image img {

    /* aspect-ratio: 16/9; */
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.blog-content p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.blog-content h3 {
    font-size: 22px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
}
