<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="recoverypage.css">
</head>

<body>
    <div class="container">
        <div class="error-container">
            <% if (error || message) { %>
                <p class="error-message"><%- error || message %></p>
                <% } %>
        </div>

        <div class="recovery-form-container">
            <% if (!isotp) { %>
                <div class="recovery-container">
                    <h2>Password Recovery</h2>
                    <p>Enter your email address below to reset your password.</p>
                    <form action="/recover-password" method="post">
                        <input type="email" name="email" placeholder="Email Address" required>
                        <button type="submit">Send OTP</button>
                    </form>
                </div>
                <% } else { %>
                    <div class="recovery-container">
                        <h2>Password Recovery</h2>
                        <p>Enter the OTP sent to your email: <%- email[0] + "*" .repeat(Math.min(3, email.indexOf('@') -
                                1)) + email.slice(email.indexOf('@')) %> below to reset your password.</p>
                        <form action="/handel-otp/<%- email %>" method="post">
                            <input type="text" name="otp" placeholder="OTP" required>
                            <button type="submit">Verify OTP</button>
                        </form>
                    </div>
                    <% } %>
        </div>
    </div>
</body>
<script src="/error-handler.js"></script>
<script>
    window.onload = () => {
        hideErrorMessage('error-container');
    };
</script>

</html>
