<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4 class="footer-heading">Company</h4>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Our Services</a></li>
                    <li><a href="#" class="footer-link">Privacy Policy</a></li>
                    <li><a href="#" class="footer-link">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="footer-heading">Get Help</h4>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Shipping</a></li>
                    <li><a href="#" class="footer-link">Returns</a></li>
                    <li><a href="#" class="footer-link">Order Status</a></li>
                    <li><a href="#" class="footer-link">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="footer-heading">Online Shop</h4>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">Watch</a></li>
                    <li><a href="#" class="footer-link">Bag</a></li>
                    <li><a href="#" class="footer-link">Shoes</a></li>
                    <li><a href="#" class="footer-link">Dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="footer-heading">Follow Us</h4>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
